.audio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #1f1f1f; */
    font-size: 3rem;
    color: #fff;
    /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem; */
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
/* .audio:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 } */


 .audio-grid {
   margin-top: 80px;
   margin-bottom: 50px;
   padding: 0px 50px;
    display: grid;
    gap: 1rem;
    row-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 350px;
    
    width: 100%;
  }


  .audio-title {
   text-align: center;
   color: rgb(212, 212, 212) !important;
   margin-top: 0.5rem;
   font-size: 2rem;
   z-index: 19;
   margin-bottom: 30px;
  }

.rhap_container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: inherit;
  width: 100%;
  padding: 10px 15px;
  background-color: #1f1f1f !important;
  color: white !important;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.rhap_time {
   color: white !important;
}

.rhap_progress-container {
   color: white !important;  
}

.music-logo {
   height: 55%;
   margin-top: 40px;
}