.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
 }

 .overlayContent {
    max-height: 50%;
    max-width: 55%;
    min-width: 35%;
    padding: 5%;
    border-radius: 20px;
    background: rgb(66, 66, 66);
    /* background-image: url("../assests/blurbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  */
    z-index: 20;
 }

 .path {
   margin: 20px 0px;
   font-size: 2rem;
   color: white;
 }

 .close {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 5rem;
    color: white;
    z-index: 10;
 }

 .close:hover {
   color: white;
   text-decoration: none;
 }

 .left-side-icons {
    position: fixed;
    top: 40%;
    left: 20px;
    font-size: 10rem;
    color: white;
    margin:20px;
    z-index: 10;
 }

 .right-side-icons {
    position: fixed;
    top: 40%;
    right: 20px;
    font-size: 10rem;
    color: white;
    margin:20px;
    z-index: 10;
 }



.btn-folder{
   background-color: #a5a5a5;
   border: none;
   color: white;
   padding: 11px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   width: 100%;
   border-radius: 5px;
}

.btn-folder-submit{
   background-color: rgb(166, 0, 0);;
   border: none;
   color: white;
   padding: 11px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   width: 100%;
   border-radius: 5px;
}

.row{
   margin: 20px 0px !important;
   padding: 5px;
}

.fol-type{
   padding-left: 0px;
   font-size: 2rem;
   color: white;
   margin-top: 2px;
}

.form-dropdown{
   font-size: 2rem;
   border: none;
   padding: 5px;
   border-radius: 3px;
}