* {
    margin: 0;
    padding: 0;

}
.prehome{
    background-color: #1f1f1f;
}
 
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky; */
    top: 0;
    cursor: pointer;
    /* background-color:#242B2E ; */
    background-color:#000000 ;
    margin: 0;
    height: 80px;
    border-radius: 0%;
}
 .logo-starting{
    width: 61px;
    border-radius:30%;
    margin-top: -20%;
 }

.nav-list {
    
    display: flex;
    align-items: center;
    color: rgb(189, 189, 189);
    font-size: 60PX;
    padding: 2px;
    font-weight: 500;
    justify-content: first baseline;
    width: 80%;
    position:relative; left:-15px; bottom: -5px;
}
.rightnav {
    width: 20%;
    text-align: right;
}
 
.footer {
    background-color: #1f1f1f ;
    height:60px ;
    display: flex;
   
    align-items: center;
    justify-content: center;
    }
     
    text-footer {
        font-size: 500px;
        text-align: center;
        padding: 30px 0;
        font-family: 'Ubuntu', sans-serif;
        align-items: center;
        justify-content: space-between;
        color: white;

    }

 
.btn {
    margin-left: 20px;
    height: 40px;
    width: 100px;
        color: #ffffff;
    /* background-color:rgba(190, 190, 190, 0.644); */
        cursor: pointer;
        font-size: large;
    }
    .btn-start{
        font-size: 21px;
        width:40%;
    }
    .btn-start:hover{
        color: rgb(189, 189, 189);
    }
    .btn-start:focus{
        /* color:rgb(255, 255, 255); */
        color:rgb(166, 0, 0);
    }
     
    .btn-sm {
        padding: 6px 10px;
        vertical-align: middle;
        color: rgb(255, 255, 255);
        font-weight: 100;
        
    }
    .btn-sm:hover{
        color:rgb(189, 189, 189)
    }
    .btn-sm:focus{
        color:#ffffff
    }
     
    .home_img3{ 
    
        margin-top: auto;
        width: 100%;
    }
    .home_img3{
    
        margin-top: auto;
        width: 100%;
    }

.appname{
    /* color: rgb(210, 0, 0); */
    position:absolute;
    left: 95px;
    font-size:x-large;
    font-weight: 640;
    width: 0%;
    color: rgb(210, 0, 0);
}

.appname-after{
    bottom: 725px;
    left: 90px;
}
@media screen and (max-width: 1024px) {
    .appname,.appname-after{
        left:90px;
    }
    .appname-after{
        bottom: 646px;
    }
    .logo-starting{
        margin-left: 40%;
    }
    .btn{
        margin-left: 4px;
    }
}